{
  "extract": {
    "input": "data/mentah/laporan.xlsx",
    "column": "Request",
    "sheet": "QRIS SNAP MPM"
  },
  "convert": {
    "input": "/Users/user/Desktop/payload-to-sheet/sample-data/single",
    "output": ""
  },
  "response": {
    "input": "/Users/user/Desktop/payload-to-sheet/sample-data/RES-FSCM-INBOUND",
    "output": ""
  }
}